* {
    align-items:center;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
#button{
    width: 100px;
    height: 20px;
    list-style-type: none;
}
a{
    color: white;
}
