    * {
        align-items:center;
        margin: 0%;
        padding: 0%;
    }
    .container {
        height : 200px;
        width: 800px;
        border: 2px solid black;
        text-align:center;
        display: inline-block;
    }
    #box1{
        height : 100px;
        width: 100px;
        border: 2px solid black;
        display: inline-block;
        background-color: aqua;
    }
    #box2{
        height : 100px;
        width: 100px;
        border: 2px solid black;
        display: inline-block;
        background-color: aquamarine;
    }
    #box3{
        height : 100px;
        width: 100px;
        border: 2px solid black;
        display: inline-block;
        background-color: blue;
    }
    #box4{
        height : 100px;
        width: 100px;
        border: 2px solid black;
        display: inline-block;
        background-color: pink;
    }
    #box5{
        height : 100px;
        width: 100px;
        border: 2px solid black;
        display: inline-block;
        background-color: brown;
    }
